@if (loading){
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
} @else {
<section>
  <div class="cart">
    @for(cartItem of cart; track $index) {
      <mat-card>
        <cart-item [cart_item]="cartItem"></cart-item>
        <mat-card-actions>
          <button matMiniFab (click)="decreaseClick($index)"
                  [disabled]="cartItem.cart_item_count === 1">
            <mat-icon>remove</mat-icon>
          </button>

          <button matMiniFab (click)="increaseClick($index)">
            <mat-icon>add</mat-icon>
          </button>

          <button matMiniFab (click)="removeClick($index)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
  <div class="last-div">
    @if(userService.user.loggedIn){
    <button matButton="outlined" [routerLink]="['/checkout']" [disabled]="cart.length < 1">Proceed to checkout</button>
    } @else {
      <button matButton="outlined" (click)="loginToCheckoutClick()" [disabled]="cart.length < 1">Login to checkout</button>
    }
    <h4>total price: €{{this.total_price}}</h4>
  </div>
</section>
}
