section
  display: block
  mat-card
    display: block
    margin: 1rem
    a
      display: block
      justify-self: center
      font-size: 1.5rem
      margin: 2rem 1rem 1rem 1rem
    .cart
      margin: 1rem
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      gap: 1rem
      mat-card
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 18%
        mat-card-actions
          display: flex
          flex-wrap: wrap
          justify-content: center
          button
            margin: 0.3rem
    .last-div
      display: flex
      margin: 1rem
      justify-content: space-between
