@if (loading){
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
} @else {
<section>
  <mat-card>
    <mat-card-header>
      <h2>Cart </h2><br>
    </mat-card-header>
    <mat-divider></mat-divider>
    @if(cart.length === 0) {
      <a>Cart is still empty!</a>
    }
    <div class="cart">
      @for(cartItem of cart; track $index) {
        <mat-card>
          <img mat-card-image [src]="cartItem.product_image" alt="image">
          <cart-item [cart_item]="cartItem"></cart-item>
          <mat-card-actions>
            <button matMiniFab (click)="decreaseClick($index)"
                    [disabled]="cartItem.cart_item_count === 1">
              <mat-icon>remove</mat-icon>
            </button>

            <button matMiniFab (click)="increaseClick($index)">
              <mat-icon>add</mat-icon>
            </button>

            <button matMiniFab (click)="removeClick($index)">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      }
    </div>

    <mat-divider></mat-divider>

    <div class="last-div">
      @if(userService.user.loggedIn){
        <button matButton="outlined" [routerLink]="['/checkout']" [disabled]="cart.length < 1" data-cy="checkout_button">Proceed to checkout</button>
      } @else {
        <button matButton="outlined" (click)="loginToCheckoutClick()" [disabled]="cart.length < 1">Login to checkout</button>
      }
      <h4>total price: €{{this.total_price}}</h4>
    </div>
  </mat-card>

</section>
}
