<div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="chips">
    <div>
        <a>Utility: </a>
        <mat-chip-listbox (change)="onSelectUtility($event)">
          @for(utility of utility_list; track $index) {
            <mat-chip-option>
              {{utility}}
            </mat-chip-option>
          }
        </mat-chip-listbox>
    </div>
  </div>
</div>

<section>
    @for (product of visibleProducts; track $index) {
      <mat-card>
        <img mat-card-image [src]="product.image" alt="image">
        <mat-card-header>
          <a [routerLink]="['/product', product.id]">
            {{product.name}}
          </a>
        </mat-card-header>
        <mat-card-content>

          <div>
            <mat-chip-set>
              <mat-chip>{{product.utility}}</mat-chip>
              <mat-chip>{{product.for_animal}}</mat-chip>
            </mat-chip-set>
          </div>
          <h4>€{{product.price}}</h4>
          @if (product.quantity <= 0) {
            <h3>OUT OF STOCK</h3>
          } @else {
            <mat-card-actions>
              <button matButton="outlined" (click)="addToCartClick($index)">Add to Cart</button>
            </mat-card-actions>
          }
        </mat-card-content>
      </mat-card>
    }
</section>

<div class="paginator">
  <mat-paginator [length]="this.filtered_products.length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 showFirstLastButtons
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
