<div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchTerm" (input)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>

<section>
    @for (product of visibleProducts; track $index) {
      <mat-card>
        <img mat-card-image [src]="product.image" alt="image">
        <mat-card-header>
          <a [routerLink]="['/product', product.id]">
            {{product.name}}
          </a>
        </mat-card-header>
        <mat-card-content>
          <h4>€{{product.price}}</h4>
          @if (product.quantity <= 0) {
            <h3>OUT OF STOCK</h3>
          } @else {
            <mat-card-actions>
              <button matButton="outlined" (click)="addToCartClick($index)">Add to Cart</button>
            </mat-card-actions>
          }
        </mat-card-content>
      </mat-card>
    }
</section>

<div>
  <mat-paginator [length]="products.length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 showFirstLastButtons
                 (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
