section
  margin: 1rem
  .profile
    margin-bottom: 1rem
    mat-card-content
      margin-top: 1rem
      div
        margin-top: 1rem
  .order_history
    margin-bottom: 1rem
    mat-expansion-panel
      margin-top: 1rem

