@if (init_loading > 0){
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
} @else {
<section>
  <mat-card class="profile">
    <mat-card-header>
      <h2>Profile</h2>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <b>Username: </b> <a>{{this.userService.user.username}}</a><br>
      <b>Email: </b> <a>{{this.userService.user.email}}</a><br>
      <b>Created At: </b> <a>{{this.userProfile.createdAt}}</a><br>
      <div [submitting]="this.update_profile_loading">
        <form [formGroup]="form">
            @if (form.hasError('serverError')){
                <div class="form_error">
                    @for (error of form.getError('serverError'); track error.id) {
                        <p style="color: red">* {{error.field}} is invalid</p>
                    }
                </div>
            }
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" name="first_name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" name="last_name">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" name="phone_number">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Country</mat-label>
              <input matInput formControlName="country" name="country">
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
              <input matInput formControlName="city" name="city">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Postal Code</mat-label>
              <input matInput formControlName="postalCode" name="postal_code">
            </mat-form-field><br>
            <mat-form-field>
              <mat-label>Street</mat-label>
              <input matInput formControlName="street" name="street">
            </mat-form-field>
            <mat-form-field>
              <mat-label>House Number</mat-label>
              <input matInput formControlName="houseNumber" name="house_number">
            </mat-form-field><br>
            <button matButton="outlined" (click)="saveProfileClick()">Update</button>
        </form>
        <div [style.visibility]="update_profile_loading ? 'visible' : 'hidden'">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="order_history">
    <mat-card-header>
      <h3>Orders History</h3>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      @for(order of orderHistory; track $index){
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b>Time</b><a>: {{order.time}}</a>
            <b style="white-space: pre;"> Price</b><a>: €{{order.price}}</a>
          </mat-expansion-panel-header>
          <b>Items:</b><br>
          @for(orderItem of order.elaborateOrderItems; track $index){
              <div class="product">
                <a [routerLink]="['/product', orderItem.product_id]">{{orderItem.product_name}}</a>
                <p>x {{orderItem.count}}</p>
                    <button matButton (click)="openReviewDialog(orderItem.product_id, orderItem.product_name, userService.user.backend_id)">Leave a review</button>
                <br>
              </div>
          }
          <br>
          <div>
            <b>Name: </b> <a>{{order.firstName}} {{order.lastName}}</a> <br>
            <b>Phone Number: </b> <a>{{order.phoneNumber}}</a><br><br>
            <b>Address: </b><br>
            {{order.country}} <br>
            {{order.postalCode}} {{order.city}} <br>
            {{order.street}} {{order.houseNumber}} <br>
          </div>
        </mat-expansion-panel>
      }
    </mat-card-content>
  </mat-card>
</section>
}
